<div class="book <%= category %> img-thumbnail">
  <div class="overlay-with-popover">
    <div class="popover-title" data-style="primary" style="display: none"><center><h4><%= book.title.downcase.split(" ").map(&:capitalize).join(" ") %></h4></div></center>
    <div class="popover-content" data-style="primary" style="display: none">
    <%= book.description %><br />
      <a href=<%= book.amazon_ref %>><button id="buy-<%=book.id%>" data-id="<%=book.id%>" type="button" style="float: left" class="btn btn-danger btn-sm" data-html="true">Buy</button></a>
      <button id="add-<%=book.id%>" data-id="<%=book.id%>" type="button" class="btn btn-danger btn-sm add" data-html="true">Add To Reading List</button>
    </div>

  </div>
  <div class="center-cropped" style="background-image: url(<%= book.amazon_img %>);">
    <img src="<%= book.amazon_img %>" />
  </div>
</div>