<div class="book <%= category %> img-thumbnail">
  <div class="overlay-with-popover">
    <div class="popover-title" data-style="primary" style="display: none"><h4><%= book.title.downcase.split(" ").map(&:capitalize).join(" ") %></h4></div>
    <div class="popover-content" data-style="primary" style="display: none">
      <p><strong>Author:</strong> <%= book.author %></p>

        <%= book.description %>

        <p><a href=<%= book.amazon_ref %>><button id="buy-<%=book.id%>" type="button" style="float: left" class="btn btn-danger btn-sm buy" data-html="true">Buy</button></a>

        <button id="add-<%=book.id%>" type="button" data-id="<%= book.id %>" class="btn btn-danger btn-sm add" data-html="true"><span class="add button text">

        <% if book.book_users %>

          <% if book.book_users.first.vote == 1%>

           Saved!

          <% else %>

          <%# binding.pry %>

            Add To Reading List

          <% end %>
        <% end %>

          </span></button></p>
    </div>

  </div>
  <div class="center-cropped" style="background-image: url(<%= book.amazon_img %>);">
    <img src="<%= book.amazon_img %>" />
  </div>
</div>