<div class="container">
  <div class="btn-group">
    <button id="category-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Category <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-filter="*">All</a></li>
      <li><a href="#" data-filter=".combined_print_and_e_book_nonfiction">Nonfiction</a></li>
      <li><a href="#" data-filter=".combined_print_and_e_book_fiction">Fiction</a></li>
      <li><a href="#" data-filter=".trade_fiction_paperback">Trade Fiction</a></li>
      <li><a href="#" data-filter=".manga">Manga</a></li>
      <li><a href="#" data-filter=".young_adult">Young Adult</a></li>
    </ul>
  </div>
</div>

<div>

  <div class="row">

    <div id="books">

      <% @combined_print_and_e_book_nonfiction.each do |book| %>
        <% if book.amazon_img !=nil %>
          <%= render "book", book: book, category: "combined_print_and_e_book_nonfiction" %>
          <% end %>
        <% end %>

      <% @combined_print_and_e_book_fiction.each do |book| %>
        <% if book.amazon_img !=nil %>
          <%= render "book", book: book, category: "combined_print_and_e_book_fiction" %>
          <% end %>
        <% end %>

      <% @trade_fiction_paperback.each do |book| %>
        <% if book.amazon_img !=nil %>
          <%= render "book", book: book, category: "trade_fiction_paperback" %>
        <% end %>
        <% end %>

      <% @young_adult.each do |book| %>
        <% if book.amazon_img !=nil %>
          <%= render "book", book: book, category: "young_adult" %>
          <% end %>
        <% end %>

      <% @manga.each do |book| %>
        <% if book.amazon_img !=nil %>
          <%= render "book", book: book, category: "manga" %>
          <% end %>
        <% end %>
    </div>

  </div>

</div>
